################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MauiThemes/bin/Debug
/MauiThemes/obj
/MauiThemes/MauiThemes.csproj.user
/MauiThemes/.vs
